.list-item-container h3 {
  margin: 0;
  margin-bottom: 20px;
}

.alamat-container {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dfdfdf;
}

.alamat-container h4 {
  margin: 0;
  margin-bottom: 15px;
}

.alamat {
  color: #767676;
}

.navbar-checkout {
  background-color: #fcfcfc;
  box-shadow: none;
  width: auto;
}

.navbar-checkout .navbar {
  margin: 10px 218px;
}

.navbar-checkout .navbar a {
  color: var(--green);
}

.navbar-checkout .navbar div:nth-child(2) {
  display: none;
}

.navbar-checkout form {
  display: none;
}
