@import url("https://rsms.me/inter/inter.css");
@import "navbar.css";
@import "dashboard.css";
@import "addMenu.css";
@import "profile.css";
@import "cart.css";
@import "checkout.css";
@import "report.css";
@import "footer.css";
@import "payment.css";
@import "transaction.css";

:root {
  --desktop-font-size: 16px;
  --mobile-font-size: 18px;
  --green: hsl(155, 69%, 40%);
  --darker-green: hsl(155, 69%, 30%);
  --margin: 180px;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
}

.container {
  display: grid;
  place-content: center;
  height: 100vh;
  /* Sign In Background Pattern */
  background-color: #ffffff;
  background-image: radial-gradient(circle at center center, #fcfcfc, #ffffff),
    repeating-radial-gradient(
      circle at center center,
      #fcfcfc,
      #fcfcfc,
      21px,
      transparent 42px,
      transparent 21px
    );
  background-blend-mode: multiply;
}

.container-penjual {
  display: grid;
  place-content: center;
}

.sign-in-container {
  max-width: 350px;
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(194, 194, 194, 0.2);
  border-radius: 5px;
}

.penjual-container {
  margin: 20px 0;
  max-width: 500px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 5px;
}

.sign-up-container {
  background-color: white;
  padding: 1.5rem;
  box-shadow: 0 0 10px rgba(194, 194, 194, 0.2);
  border-radius: 5px;
}

.logo-icon {
  width: 100%;
  max-width: 28px;
}

.sign-in-heading {
  margin: 1rem 0 3rem 0;
}

.password-section {
  margin-bottom: 2rem;
}

.sign-up {
  text-align: center;
  margin-bottom: 1rem;
}

.sign-up a {
  text-decoration: none;
  color: var(--green);
}

.penjual-container input,
.penjual-container textarea {
  width: calc(100% - 20px);
}

.penjual-container select {
  width: 100%;
}

button,
input[type="submit"],
input[type="button"] {
  background-color: var(--green);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 22px; /* fallback */
  font-size: var(--mobile-font-size);
  font-weight: 500;
  padding: 10px 20px;
}

button:hover {
  background-color: var(--darker-green);
}

button#login,
button#register,
input#login,
input[type="submit"] {
  width: 100%;
}

button#toggle-password {
  background: none;
  border: none;
  color: var(--green);
  outline: none;
  cursor: pointer;
  font-weight: 300;
  padding: 0;
  /* Display at the top right of the password section */
  position: absolute;
  top: -1px;
  right: 8px;
}

button#toggle-password:focus {
  border: 1px solid black;
  top: -1px;
  right: 7px;
}

div#password-constraints {
  margin: 0 0 30px 0;
  font-size: 16px;
  color: darkgrey;
}

form {
  margin-bottom: 2rem;
}

input,
textarea,
select {
  border: 1px solid rgb(227, 227, 227);
  background-color: rgb(247, 247, 247);
  border-radius: 3px;
  font-size: 16px; /* fallback */
  font-family: inherit;
  padding: 10px;
  width: 100%; /* fallback */
  width: calc(100% - 10px); /* full width minus padding */
}

textarea {
  resize: none;
}

input[type="email"]:not(:focus):invalid,
input[type="password"]:not(:focus):invalid,
input[type="tel"]:not(:focus):invalid {
  color: red;
  outline-color: red;
}

label {
  display: block;
  font-size: 20px;
  font-size: var(--mobile-font-size);
  font-weight: 500;
  margin: 0 0 10px 0;
}

form section {
  margin: 0 0 20px 0;
}

form section.password-section {
  position: relative; /* for password toggle positioning */
}

.form-group {
  display: flex;
  flex-direction: row;
}
.form-group section {
  margin: 0 20px 20px 0;
}

p {
  font-size: 22px; /* fallback */
  font-size: var(--mobile-font-size);
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
}

a {
  text-decoration: none;
}

a.icon {
  font-weight: 500;
  color: #767676;
}

.label {
  color: #767676;
}

img {
  width: 100%;
}

h4 {
  margin: 0 0 10px 0;
  font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (min-width: 450px) {
  button {
    font-size: 14px; /* fallback */
    font-size: var(--desktop-font-size);
  }

  div#password-constraints {
    font-size: 14px;
  }

  input {
    font-size: 14px; /* fallback */
    font-size: var(--desktop-font-size);
  }

  label {
    font-size: 14px; /* fallback */
    font-size: var(--desktop-font-size);
  }

  p {
    font-size: 14px; /* fallback */
    font-size: var(--desktop-font-size);
  }
}

@media (max-width: 450px) {
  .form-group {
    display: block;
  }

  h2 {
    font-size: 1rem;
  }

  .container {
    display: block;
  }

  .sign-in-container,
  .sign-up-container {
    max-width: 100%;
  }

  .sign-in-container {
    height: 100%;
  }

  .navbar {
    --margin: 10px;
    margin: 0 var(--margin);
  }

  .logo {
    margin-right: 1rem;
  }

  .search-input {
    width: 100%;
  }

  .feature {
    padding: 0;
  }
}
